// 색상
$main-color: #453b2a;
$sub-color: #f1e5cd;
$login-color: #c0af95;
$dashboard-color: #fff7e6;
$dashboard-icon-color: #d6a291;
$step-color: #ebcfc6;
$dark-step-color: #6e5043;
$gray-color: #c4c4c4;
$dark-gray-color: #464341;