// 색상
$main-color: #45362a;
$sub-color: #ffd5d5;
$login-color: #c0af95;
$dashboard-icon-color: #ff9875;
$background-color:#fffdf5;
$step-color: #ebcfc6;
$dark-step-color: #6e5043;
$gray-color: #c4c4c4;
$dark-gray-color: #464341;