@use '../../styles/theme.scss';

.header-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  .month,
  .year {
    display: block;
    width: 700px;
    text-align: center;
    margin-bottom: 20px;
  }
  .left,
  .right {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #bbb;
    &:hover {
      color: theme.$dashboard-icon-color;
    }
  }
  .month {
    font-weight: lighter;
    font-size: 40px;
  }
}
